<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" 
  th:replace="~{base :: Layout(~{::section})}">
  <!-- th:replace="base :: Layout(~{::section})">  this format is depricated-->
  <!-- th:replace replace the fragment. -->
  <!-- call the th:fragment Layout and pass (parameter or view to it) -->
  <head>
      <meta charset="ISO-8859-1">
      <title>-------Ecommerce</title>
  </head>
  <body>
    <div>
      <section>
        <h1>Login Page</h1>
      </section>
    </div>
  </body>
</html>
